PORT=8000
ENVIRONMENT=development

SKIP_AUTH=true

# OpenTelemetry
OTEL_DISABLE=true
OTEL_SERVICE_NAME=verification-service-api
OTEL_RESOURCE_ATTRIBUTES=service.version=0.1.0,service.environment=local

COGNITO_REGION=us-east-1
COGNITO_USER_POOL_ID=
COGNITO_APP_CLIENT_ID=

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0

NSC_SUBMIT_URL=
NSC_TOKEN_URL=
NSC_CLIENT_SECRET=
NSC_CLIENT_ID=
NSC_ACCOUNT_ID=

VA_OAUTH_CLIENT_ID=
VA_PRIVATE_KEY_PATH=
VA_TOKEN_RECIPIENT_URL=
VA_OAUTH_TOKEN_URL=
VA_SANDBOX_KEY=
VA_SANDBOX_REQUEST_ID=
VA_DISABILITY_RATING_URL=
