repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: check-yaml
    exclude: '^.github/.*$'
  - id: check-merge-conflict
- repo: https://github.com/golangci/golangci-lint
  rev: v2.7.2
  hooks:
  - id: golangci-lint
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.20.0
  hooks:
  - id: markdownlint-cli2
    exclude: '^.github/.*$'
