name: markdownlint

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "**/*.md"
  pull_request:
    paths:
      - "**/*.md"

jobs:
  markdownlint:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Fetch Repository
        uses: actions/checkout@v6

      - name: Run markdownlint-cli2
        uses: DavidAnson/markdownlint-cli2-action@v22
        with:
          globs: |
            **/*.md
            !.github/**/*.md
