name: PR Verification
permissions:
  contents: read

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - "**/*.md"
  pull_request:
    paths-ignore:
      - "**/*.md"

jobs:
  unit:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: Fetch Repository
        uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: "1.25.x"
          cache: false

      - name: Test
        run: go run gotest.tools/gotestsum@latest

  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: "1.25.x"
          cache: false

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.5.0
          install-mode: goinstall

    build:
      name: build
      runs-on: ubuntu-latest
      steps:
        - name: Fetch Repository
          uses: actions/checkout@v6
        - name: Docker Build
          run: docker build .
